#news-card-container {
    margin: 0;
    padding: 0;
    margin: auto;
    width: 90%;
    margin-top: 60px;
  }
  
  #news-card-slider-container {
    height: 100%;
    /* width: 85vw; */
    /* max-width: 1400px; */
    /* background: #54d5e4; */
    /* box-shadow: 5px 5px 8px gray inset; */
    position: relative;
    /* overflow: hidden; */
    /* padding: 20px; */
    overflow: hidden;

  }
  
  #news-card-slider-container .news-btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid pink;
    border-top: 8px solid pink;
  }
  
  #news-card-slider-container .news-btn:hover {
    transform: scale(1.2);
  }
  
  #news-card-slider-container .news-btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #news-card-slider-container .news-btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #news-card-slider-container .news-btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #news-card-slider-container #news-slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #news-card-slider-container #news-slider .news-slide {
    /* height: 100%; */
    margin: auto 10px;
  }
  
  /* #news-card-slider-container #slider .slide span {
    color: white;
    font-size: 150px;
  } */


  /* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
  @media only screen and (min-width: 1100px) {
  
    #news-card-slider-container #news-slider .news-slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #news-card-slider-container #news-slider .news-slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #news-card-slider-container #news-slider .news-slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #news-card-slider-container #news-slider .news-slide {
      width: calc(10% - 20px);
    }
  
  }