

.result-content-vh{
        height: -o-calc(100vh - 220px); /* opera */
        height: -webkit-calc(100vh - 220px); /* google, safari */
        height: -moz-calc(100vh - 220px); /* firefox */
}


/* .about-background{
    background-image: url('./images/Path 8062@2x.png');
    background-position: center;
} */

.news-parallel::before{
    content: url('./assets/images/Path 58@2x.png');
    position: absolute;
    left:-50px;
    top:10px;
}


.trapezoid::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -25px;
    transform: skew(-20deg);
    width: 50px;
}

.bg-img-1{
    background-image: url('../images/slide1@2x.png') ;
}

.bg-img-2{
    background-image: url('../images/slide2@2x.png') ;
    animation: zoomin 10s ease-in;
    transition: all .5s ease-in;
}

.bg-img-3{
    background-image: url('../images/slide3@2x.png') ;
    animation: zoomout 10s ease-out;
    transition: all .5s ease-out;
    overflow: hidden;
}

.bg-img-4{
    background-image: url('../images/slide4@2x.png') ;
}

.overlay_image_slide{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.zoomInHeader{
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.zoomOutHeader{
    -webkit-animation: zoomout 10s ease-in infinite;
    animation: zoomout 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
}


/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    /* 100% {transform: scale(1);} */
  }
  @keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    /* 100% {transform: scale(1);} */
  } /*End of Zoom in Keyframes */
  

  /* Zoom out Keyframes */
@-webkit-keyframes zoomout {
    0% {transform: scale(1);}
    50% {transform: scale(0.67);}
    100% {transform: scale(1);}
  }
  @keyframes zoomout {
      0% {transform: scale(1);}
    50% {transform: scale(0.67);}
    100% {transform: scale(1);}
  }/*End of Zoom out Keyframes */


@media only screen and (max-width: 750px){
    .top-vh{
        height: 100%;
    }
}


